* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}


.headersection {
  background-color: black;
  padding: 20px 20px;

}






.nav-content li a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}


ul.nav-content li {
  list-style-type: none;
}

.nav-icon li a {
  padding: 20px 20px;
}

nav ul li a:hover {
  background-color: grey;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.nav-content {
  display: flex;
}

.nav-icon li {
  list-style-type: none;
}

.nav-icon {
  color: #fff;
}


/* section 1 */

.section1 {
  position: relative;
  display: flex;
  justify-content: center;

}

.section1 img {
  width: 100%;
  opacity: 0.7;
}

.section1 h2 {
  position: absolute;
  bottom: 100px;
  color: white;
}

.section1 h3 {
  position: absolute;
  bottom: 50px;
  color: white;
}



/* section 2 */

.Band-section {
  padding: 100px 70px;
  text-align: center;

}

.Band-section h2 {
  margin-bottom: 20px;
}

.para1 .para1-1 {
  color: grey;
  margin-bottom: 20px;
}





.Band-section .member-images {
  display: flex;
  padding-top: 30px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.member-images figure {
  flex-basis: 33%;
}


.member-images figcaption {
  margin-bottom: 10px;


}


/* section 3 */


.section3 {
  background-color: black;
  padding: 100px 40px;

}

.tour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images-content {
  padding: 20px 15px;
}




.tour h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}

.tour p {
  color: grey;
  margin-bottom: 30px;
}








.month {
  background-color: white;
  margin-bottom: 25px;

}

.month p {
  color: grey;
}

.month1 {
  display: flex;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 10px 20px;
}



.month1 .para1 {
  margin-left: 20px;
  background-color: red;
  padding: 5px 10px;
  color: #fff;
}

.month1 .para1:hover {
  background-color: grey;
}

.month3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.month3 .para2 {
  border-radius: 50%;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.month3 .para2:hover {
  background-color: grey;

}

.images {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}





.images1 {
  background-color: white;
  flex-basis: 30%;


}



.images1 img {
  width: 100%;

}



.images-content p {
  margin-bottom: 15px;
}

.images-content h2 {
  margin-bottom: 15px;
}

.images-content .para {
  color: grey;

}

.images-content button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  border: 0;
}

.images-content button:hover {
  background-color: grey;
  transition: 0.3s ease-in-out;
}


/* section 4 */

.section4 {
  padding: 80px 25px;
}




.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.first h2 {
  margin-bottom: 25px;
}

.first p {
  margin-bottom: 25px;
  color: grey;
}



.addressinput {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.address p {
  padding: 10px 10px;
  font-weight: bold;
}

.address p i {
  margin-right: 10px;
}





/* new css 
 */

.text-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text-boxes input[type="text"] {

  flex-basis: 100%;
  padding: 5px 5px;
}



.text-boxes textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 5px;
}

input#btn-submit {
  padding: 10px 10px;
  background-color: black;
  color: white;
  border: 0;
}

.boxes input#btn-submit:hover {
  background-color: grey;
}




/* section5 */

.section5 iframe {
  width: 100%;
  border: 0;

}


/* section 6 */

.section6 {
  padding: 50px 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.icons a {
  color: grey;
  padding: 5px 5px;
  font-size: 25px;

}

.icons {
  margin-bottom: 20px;
}




/* ------------------- Responsive design --------------- */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {



  /* nav bar section */
  .headersection {
    padding: 10px 5px;
  }

  .nav-icon {
    font-size: 10px;
  }


  .nav-content li a {
    padding: 12px 12px;
    font-size: 14px;
  }

  /* Los angels image section*/
  .section1 h2 {
    bottom: 43px;
    color: white;
    font-size: 18px;

  }

  .section1 h3 {
    bottom: 10px;
    color: white;
    font-size: 12px;
  }


  /* Band section  section2*/

  .Band-section {
    padding: 40px 40px;
    text-align: center;
  }

  .Band-section .member-images {
    margin-top: 40px;
    gap: 50px;
  }

  .member-images figure {
    flex-basis: 100%;
  }


  /* tour dates section 3 */
  .section3 {
    padding: 50px 40px;
  }

  .images1 {
    flex-basis: 100%;
  }



  /* address section4*/
  .section4 {
    padding: 50px 25px;
  }

  .first {
    margin-bottom: 15px;
  }



  .addressinput {
    flex-wrap: wrap;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  .addressinput .address {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

}


/*// Small devices (landscape phones, 576px and up) */
@media (min-width:576px) and (max-width:767.98px) {

  /* Losangles image section */

  .section1 h2 {

    bottom: 32px;
    color: white;
    font-size: 18px;

  }

  .section1 h3 {

    bottom: 10px;
    color: white;
    font-size: 12px;
  }


  /* Band section  section2*/

  .Band-section {
    padding: 40px 40px;
    text-align: center;
  }

  .Band-section .member-images {
    margin-top: 40px;
    gap: 50px;
  }

  .member-images figure {
    flex-basis: 100%;
  }


  /* tour dates section 3 */
  .section3 {
    padding: 50px 40px;
  }

  .images1 {
    flex-basis: 100%;
  }

  /* address section 4 */
  .section4 {
    padding: 50px 25px;
  }

  .first {
    margin-bottom: 15px;
  }

  .addressinput {
    flex-wrap: wrap;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  .addressinput .address {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

}



/*// Medium devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:1199.98px) {

  /* Losangles image section */

  .section1 h2 {

    bottom: 49px;
    color: white;
    font-size: 24px;

  }

  .section1 h3 {

    bottom: 11px;
    color: white;
    font-size: 16px;
  }

  /* Band section 2 */
  .Band-section {
    padding: 60px 70px;
  }

  .Band-section .member-images {
    padding-top: 0px;
  }

  .member-images figure {
    flex-basis: 30%;
  }

  .Band-section h2 {
    margin-bottom: 30px;
    font-size: 25px;
  }

  .para1 .para1-1 {
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 600;
  }


  /* tour dates section 3 */

  .section3 {
    padding: 80px 40px;
  }

  .tour p {
    font-size: 17px;
  }
}