* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;


}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

.headersection {
  background-color: black;
  padding: 20px 20px;
  /* position: relative;
  z-index: 999; */
}



/* ||  navbar  */

/* label {
  display: none;
}

#check-btn,
#cancel {
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: #fff;
}

#check {
  display: none;
} */

/* ||  navbar  */

/* .nav-content {
  display: flex;
  gap: 10px;
} */


.header-content li a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}


ul.header-content li {
  list-style-type: none;
}

.nav-icon li a {
  padding: 20px 20px;
}

nav ul li a:hover {
  background-color: grey;

}

.section1 {
  position: relative;
  display: flex;
  justify-content: center;

}

.section1 img {
  width: 100%;
}

.section1 h2 {
  position: absolute;
  bottom: 100px;
  color: white;
}

.section1 h3 {
  position: absolute;
  bottom: 50px;
  color: white;
}





.section2 {
  padding: 100px 70px;
  text-align: center;

}

.section2 h2 {
  margin-bottom: 20px;
}

.para1 .para1-1 {
  color: grey;
  margin-bottom: 20px;
}





.section2 .member-images {
  display: flex;
  padding-top: 30px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.member-images figure {
  flex-basis: 33%;
}


.member-images figcaption {
  margin-bottom: 10px;


}


.section3 {
  background-color: black;
  padding: 100px 40px;

}

.tour {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.images-content {
  padding: 20px 15px;
}




.tour h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}

.tour p {
  color: grey;
  margin-bottom: 30px;
}



/* .month p {
  margin: 10px 0;
  position: relative;
}

.month p:not(:last-child)::after {
  content: "";
  border-bottom: 1px solid black;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -10px;

}

.month * {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.month p:nth-child(1) {
  padding-top: 0px;
  padding-bottom: 0px;
}

.month p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.month p:nth-child(3) {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}



.month a {
  text-decoration: none;
  color: grey;
} */


.month {
  background-color: white;
  margin-bottom: 25px;

}

.month p {
  color: grey;
}

.month1 {
  display: flex;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 10px 20px;
}



.month1 .para1 {
  margin-left: 20px;
  background-color: red;
  padding: 5px 10px;
  color: #fff;
}

.month3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.month3 .para2 {
  border-radius: 50%;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.images {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}





.images1 {
  background-color: white;
  flex-basis: 30%;


}



.images1 img {
  width: 100%;

}



.images-content p {
  margin-bottom: 15px;
}

.images-content h2 {
  margin-bottom: 15px;
}

.images-content .para {
  color: grey;

}

.images-content button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
  border: 0;
}




.section4 {
  padding: 80px 25px;
}




.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.first h2 {
  margin-bottom: 25px;
}

.first p {
  margin-bottom: 25px;
  color: grey;
}



.addressinput {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.address p {
  padding: 10px 10px;
  font-weight: bold;
}

.address p i {
  margin-right: 10px;
}





/* new css 
 */

.text-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.text-boxes input[type="text"] {

  flex-basis: 100%;
  padding: 5px 5px;
}



.text-boxes textarea {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 5px;
}

input#btn-submit {
  padding: 10px 10px;
  background-color: black;
  color: white;
  border: 0;
}





.section5 iframe {
  width: 100%;
  border: 0;

}

.section6 {
  padding: 50px 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




.icons a {
  color: grey;
  padding: 5px 5px;
  font-size: 25px;

}

.icons {
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul.header-content {
  display: flex;
}

.nav-icon li {
  list-style-type: none;
}

.nav-icon {
  color: #fff;
}



/* ------------------- Responsive design --------------- */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  /* nav bar section */
  .headersection {
    padding: 0px 5px;
  }

  .nav-icon {
    font-size: 10px;
  }

  ul.header-content {
    font-size: 10px;
  }

  .header-content li a {
    padding: 0px 7px;
  }

  /* Los angels image section*/
  .section1 h2 {
    /* position: absolute; */
    bottom: 32px;
    color: white;
    font-size: 18px;

  }

  .section1 h3 {
    /* position: absolute; */
    bottom: 10px;
    color: white;
    font-size: 12px;
  }


  /* Band section  section2*/

  .section2 {
    padding: 40px 40px;
    text-align: center;
  }

  .section2 .member-images {
    margin-top: 40px;
    gap: 50px;
  }

  .member-images figure {
    flex-basis: 100%;
  }


  /* tour dates section 3 */
  .section3 {
    padding: 50px 40px;
  }

  .images1 {
    flex-basis: 100%;
  }



  /* address section4*/
  .section4 {
    padding: 50px 25px;
  }

  .first {
    margin-bottom: 15px;
  }



  .addressinput {
    flex-wrap: wrap;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  .addressinput .address {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }



  /* ||  navbar  */
  /* #check-btn {
    display: block;
  }

  .headersection ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    left: -100%;
    top: 70px;
    text-align: center;
    transition: 0.5s ease;
  }

  .headersection ul li {
    display: block;
  }

  #check:checked~ul {
    left: 0;
  }

  #check:checked~label #check-btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
  }

  label {
    display: block;
  }

  .headersection {
    position: fixed;
    width: 100%;
  }

  ul.header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  } */

  /* ||  navbar  */




}


/*// Small devices (landscape phones, 576px and up) */
@media (min-width:576px) and (max-width:767.98px) {

  /* Losangles image section */

  .section1 h2 {
    /* position: absolute; */
    bottom: 32px;
    color: white;
    font-size: 18px;

  }

  .section1 h3 {
    /* position: absolute; */
    bottom: 10px;
    color: white;
    font-size: 12px;
  }


  /* Band section  section2*/

  .section2 {
    padding: 40px 40px;
    text-align: center;
  }

  .section2 .member-images {
    margin-top: 40px;
    gap: 50px;
  }

  .member-images figure {
    flex-basis: 100%;
  }


  /* tour dates section 3 */
  .section3 {
    padding: 50px 40px;
  }

  .images1 {
    flex-basis: 100%;
  }

  /* address section 4 */
  .section4 {
    padding: 50px 25px;
  }

  .first {
    margin-bottom: 15px;
  }

  .addressinput {
    flex-wrap: wrap;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  .addressinput .address {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

}



/*// Medium devices (tablets, 768px and up) */
@media (min-width:768px) and (max-width:991.98px) {

  /* Losangles image section */

  .section1 h2 {
    /* position: absolute; */
    bottom: 49px;
    color: white;
    font-size: 24px;

  }

  .section1 h3 {
    /* position: absolute; */
    bottom: 11px;
    color: white;
    font-size: 16px;
  }

  /* Band section 2 */
  .section2 {
    padding: 60px 70px;
  }

  .section2 .member-images {
    padding-top: 0px;
  }

  .member-images figure {
    flex-basis: 30%;
  }

  .section2 h2 {
    margin-bottom: 30px;
    font-size: 25px;
  }

  .para1 .para1-1 {
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 600;
  }


  /* tour dates section 3 */

  .section3 {
    padding: 80px 40px;
  }

  .tour p {
    font-size: 17px;
  }
}